@model Assessment_Management_System.Models.Submission
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Submission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Assessment)
        </dt>
        <dd>
            @Html.ActionLink(Model.Assessment.Title, "Details", "Assessments", new { id = Model.Assessment.ID })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.submittedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.submittedOn)
        </dd>
    </dl>
</div>
<div>
    @if (await AuthorizationService.AuthorizeAsync(User, "student"))
    {
        if (UserManager.GetUserId(User) == Model.studentID)
        {
            <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
            @: |
        }

    }
    <a asp-action="Index">Back to List</a>
</div>
