@model IEnumerable<Assessment_Management_System.Models.Submission>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assessment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.submittedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Assessment.Title, "Details", "Assessments", new { id = item.Assessment.ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.submittedOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
