@model IEnumerable<Assessment_Management_System.Models.Submission>
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assessment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.submittedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Assessment.Title, "Details", "Assessments", new { id = item.Assessment.ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.submittedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>

                @if (await AuthorizationService.AuthorizeAsync(User, "student"))
                {
                    @: |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    @: |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                }

                @if (await AuthorizationService.AuthorizeAsync(User, "teacher"))
                {
                    if (UserManager.GetUserId(User) == item.Assessment.teacherID)
                    {
                        @: |
                        <a asp-action="Download" asp-route-id="@item.ID">Download File</a>
                    }

                }

            </td>
        </tr>
}
    </tbody>
</table>
